{% load static %}
<div id="answer-{{ answer.id }}" class="card mb-3 border border-5 {% if answer.status == 'm' %} border-success {% endif %}">
    <div class="row g-0">
        <div class="col-2 p-2">
            <div class="border mb-3 rounded-image-container" style="height: 75px; width: 75px;">
                <a href="{% url "member" answer.author %}"><img src="{{ answer.author.avatar.url }}" class="rounded-image"></a>
            </div>
            <div class="input-group flex-nowrap answerlike-counter" style="width: 75px; margin-bottom: 10px;">
                <input type="text" id="answerlike-counter-{{ answer.id }}" value="{{ answer.num_likes }}" class="form-control text-center" readonly>
            </div>

            <div class="btn-group" role="group" aria-label="Basic outlined example" style="width: 75px;">
                <button id="answerlikeButton-{{answer.id}}" type="submit" 
                 class="col-1 btn {% if answer.id in liked_answers %}btn-success{% else %}btn-outline-success{% endif %} like-btn-answer"
                 data-action="like" data-answer-id="{{ answer.id }}" {% if not user.is_authenticated %} disabled {% endif %}>
                    <img src="{% static 'img/like.png' %}" alt="Like" class="like-icon" style="width: 15px; height:15px;">
                </button>
        
                <button id="answerdislikeButton-{{answer.id}}" type="submit"
                 class="col-1 btn {% if answer.id in disliked_answers %}btn-danger{% else %}btn-outline-danger{% endif %} dislike-btn-answer"
                 data-action="dislike" data-answer-id="{{ answer.id }}" {% if not user.is_authenticated %} disabled {% endif %}>
                    <img src="{% static 'img/dislike.png' %}" alt="Dislike" class="dislike-icon" style="width: 15px; height:15px;">
                </button>
            </div>
        </div>
        <div class="col">
            <div class="card-body">
                <p class="card-text">
                    {{ answer.text }}
                </p>
                <div class="row p-3 mt-2">
                    <div class="form-check">
                        <input class="form-check-input correct-answer-checkbox" type="checkbox" value=""
                         id="correct-answer-{{ answer.id }}" data-answer-id="{{ answer.id }}"
                         {% if answer.status == 'm' %} checked {% endif %}
                         {% if not answer.question.author == user.user_profile %} disabled {% endif %}>
                        <label class="form-check-label" for="correct-answer-{{ answer.id }}">
                            Correct!
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
