{% load static %}
<div id="answer-{{ answer_id }}" class="card mb-3 border border-5 {% if answer.status == 'm' %} border-success {% endif %}">
    <div class="row g-0">
    <div class="col-2 p-2">
        <div class="border mb-3 rounded-image-container" style="height: 75px; width: 75px;">
            <a href="{% url "member" answer.author %}"><img src="../static/img/default_user_icon.png" class="rounded-image"></a>
        </div>
        <div class="input-group" style="width: 75px;">
        <input type="number" value="{{ answer.num_likes }}" class="form-control">
        </div>
    </div>
    <div class="col">
        <div class="card-body">
            <p class="card-text">
                {{ answer.text }}
            </p>
            {% if answer.status == 'm' %}
            <div class = "row p-3 mt-2">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked="">
                    <label class="form-check-label" for="flexCheckChecked">
                        Correct!
                    </label>
                  </div>
            </div>
            {% else %}
            <div class = "row p-3 mt-2">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                        Correct!
                    </label>
                  </div>
            </div>
            {% endif %}
        </div>
    </div>
    </div>
</div>

