{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AskMe Website</title>
    <link rel="stylesheet" href="{% static "css/bootstrap.css" %}">
    <link rel="stylesheet" href="{% static "css/rounded_image.css" %}">
  </head>
  <body>
    <!--Навигация--> 
    <nav class="navbar bg-body-tertiary">
      <div class="container-sm-fluid container-lg">
        <a class="navbar-brand" href="{% url "index" %}">AskMe</a>
        <form method="get" action="{% url 'ask' %}" class="d-flex" role="search" >
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          {% if user.is_authenticated %}
            <button class="btn btn-success" type="submit">ASK!</button>
          {% endif %}
        </form>

          {% if user.is_authenticated %}

          <div class="d-flex align-items-center gap-3">
              <div>
                  <img class="rounded-circle border"
                   {% if user_profile.avatar %} src="{% static 'img/default_user_icon.png' %}"
                   {% else %} src="{% static 'img/default_user_icon.png' %}"
                   {% endif %}
                   height="50" width="50">
              </div>
              <div class="d-flex justify-content-between gap-2">
                  {{user.username}}
                  <div class="settings">
                      <a href="{% url "settings" %}"><img src="{% static 'img/svg/gear.svg' %}" width="20px"></a>
                  </div>
              </div>
          </div>

          {% else %}

          <div class="d-flex align-items-center gap-3">
            <div class="d-flex justify-content-between gap-2">
                <a href="{% url "login" %}">log in</a>
                <a href="{% url "signup" %}">sign up</a>
            </div>
        </div>

          {% endif %}

      </div>
    </nav>

    <!--Главная страница--> 
    <main class="container-sm-fluid container-lg mt-3">

        {% block content %}
        {% endblock %}

        <div class="col-1"></div>
        <!--Теги--> 
        <div class="col-3">
          <h3>Popular Tags</h3>
            <div class="row">
              <div class="col d-flex justify-cotent-between gap-5 mb-1">

                {% for tag in popular_tags|slice:":3" %}

                <a href="{% url "tag" tag.name %}" style="text-decoration: none; font-weight: bold;" class="text-danger">{{ tag.name }}</a>

                {% endfor %}

              </div>
              <div class="col d-flex justify-cotent-between gap-5 mb-1">

                {% for tag in popular_tags|slice:"3:5" %}

                <a href="{% url "tag" tag.name %}" style="text-decoration: none; font-weight: bold;" class="text-warning">{{ tag.name }}</a>

                {% endfor %}

              </div>
              <div class="col d-flex justify-cotent-between gap-5 mb-1">

                {% for tag in popular_tags|slice:"5:" %}

                <a href="{% url "tag" tag.name %}" style="text-decoration: none; font-weight: bold;" class="text-success">{{ tag.name }}</a>

                {% endfor %}

              </div>
            </div>
          <h3 class="mt-4">Best Members</h3>
          <div>
            <ul style="list-style-type: none; padding: 0;">

              {% for member in best_members %}

                <li><a href="{% url "member" member.nickname %}">{{ member.nickname }}</a></li>

              {% endfor %}

            </ul>
          </div>
        </div>
      </div>

      <!--Страницы--> 
      {% if questions %}

        {% include "layouts/pagination.html" with page_obj=questions %}

      {% endif %}

    </main>
    
      {% include "layouts/footer.html" %}

    <script src="{% static 'js/bootstrap.bundle.js' %}"></script>
  </body>
</html>