{% load static %}

<!--Карточка--> 
      <div class="card mb-3">
        <div class="row g-0">
          <div class="col-2 p-2">
            <div class="border mb-3 rounded-image-container">
              <a href="{% url "member" question.author %}"><img src="{% static "img/default_user_icon.png" %}" class="rounded-image"></a>
            </div>
            <div class="input-group flex-nowrap" style="width: 105px;">
              <input type="number" value="{{ question.num_likes }}" class="form-control">
            </div>
          </div>
          <div class="col">
            <div class="card-body">
              <h5><a href="{% url "question" question.id %}">{{ question.title }}</a></h5>
              <p class="card-text">
                {{ question.text }}
              </p>
              <div class="row">
                <a class="col-4" href="{% url "question" question.id %}">answer ({{ question.answer_count }})</a>
                <div class="col-8">
                  <span>Tags</span>

                  {% for tag in question.tag.all %}

                    <a href="{% url "tag" tag %}">{{ tag }}</a>

                  {% endfor %}

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>