{% load static %}

<!--Карточка--> 
      <div id="{{question.id}}" class="card mb-3">
        <div class="row g-0">
          <div class="col-2 p-2">
            <div class="border mb-3 rounded-image-container">
              <a href="{% url "member" question.author %}"><img src="{{question.author.avatar.url}}" class="rounded-image"></a>
            </div>
            <div class="input-group flex-nowrap like-counter" style="width: 100px; margin-bottom: 10px;">
              <input type="text" value="{{ question.num_likes }}" class="form-control text-center" readonly>
            </div>
          
            <form method="post" action="{% url "like" question.id %}">
              <div class="btn-group" role="group" aria-label="Basic outlined example" style="width: 100px;">
                  <button class="col-1 btn btn-outline-success like-btn">
                    <img src="{% static 'img/like.png' %}" alt="Like" class="like-icon" style="width: 20px; height:20px;">
                  </button>

                  <button class="col-1 btn btn-outline-danger dislike-btn">
                    <img src="{% static 'img/dislike.png' %}" alt="Dislike" class="dislike-icon" style="width: 20px; height:20px;">
                  </button>
              </div>
            </form>
            
          </div>
          <div class="col">
            <div class="card-body">
              <h5><a href="{% url "question" question.id %}">{{ question.title }}</a></h5>
              <p class="card-text">
                {{ question.text | truncatechars:400 | linebreaksbr}}
              </p>
              <div class="row">
                <a class="col-4" href="{% url "question" question.id %}">answers({{ question.num_answers }})</a>
                <div class="col-8">
                  <span>Tags</span>

                  {% for tag in question.tag.all %}

                    <a href="{% url "tag" tag %}">{{ tag }}</a>

                  {% endfor %}

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>