<nav class="navbar bg-body-tertiary">
    <div class="container-sm-fluid container-lg">
      <a class="navbar-brand" href="{% url "index" %}">AskMe</a>
      <form class="d-flex" role="search" >
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-success" type="submit">ASK!</button>
      </form>

        <div class="d-flex align-items-center gap-3">
            <div class="d-flex justify-content-between gap-2">
                <a href="{% url "login" %}">log in</a>
                <a href="{% url "signup" %}">sign up</a>
            </div>
        </div>
    </div>
  </nav>