{% extends "layouts/base.html" %}
{% load static %}

{% block content %}

<div class="row mt-3">
  <h1>New Question</h1>
    <div class="col-8 ">
        <form method="post" action="" class="was-validated" style="margin-bottom: 10px;">
            {% csrf_token %}
            <!--Title--> 
            <div class="row mb-3">
                <div class="col-1">
                    Title
                </div>
                <div class="col-10">
                    <div class="input-group has-validation">
                        <input id="title" name="title" type="text" class="form-control" maxlength="50" required>
                        <div class="invalid-feedback">
                            Please ask your question.
                        </div>
                    </div>
                </div>
            </div>

            <!--Text--> 
            <div class="row mb-2">
                <div class="col-1">
                    Text
                </div>
                <div class="col-10">
                    <div class="mb-3">
                        <textarea id="text" name="text" class="form-control" style="height: 250px;" required></textarea>
                        <div class="invalid-feedback">
                          Please enter a message.
                        </div>
                    </div>
                </div>
            </div>

            <!--Tags--> 
            <div class="row">
                <div class="col-1">
                    Tags
                </div>
                <div class="col-10">
                    <div class="input-group has-validation">
                        <input id="tags" name="tags" type="text" class="form-control" maxlength="100" required>
                        <div class="invalid-feedback">
                            Please write some tags.
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mt-3">
                <div class="col-1"></div>
                <div class="col">
                    <button id="askButton" class="btn btn-primary" type="submit" disabled>ASK!</button>
                </div>
            </div>
        </form>
    </div>
    <script src="{% static 'js/ask.js' %}"></script>

{% endblock content %}