<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <title>AskMe Website</title>
</head>
<body>
    <!--Навигация--> 
    <nav class="navbar bg-body-tertiary">
        <div class="container-sm-fluid container-lg">
          <a href="./index.html" class="navbar-brand">AskMe</a>
          <form class="d-flex" role="search" >
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-success" type="submit">ASK!</button>
          </form>

           <div class="d-flex justify-content-between gap-3">
            <a href="./login.html">log in</a>
            <a href="./register.html">register</a>
           </div>
        </div>
      </nav>

      <!--Главная часть--> 
      <main class="container-sm-fluid container-lg mt-3">
        <h1>New Question</h1>

        <div class="row mt-3">
            <div class="col-8 ">
                <form class="was-validated" style="margin-bottom: 100px;">
                    <!--Title--> 
                    <div class="row mb-3">
                        <div class="col-1">
                            Title
                        </div>
                        <div class="col-10">
                            <div class="input-group has-validation">
                                <input type="text" class="form-control" maxlength="50" required>
                                <div class="invalid-feedback">
                                    Please ask your question.
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--Text--> 
                    <div class="row mb-2">
                        <div class="col-1">
                            Text
                        </div>
                        <div class="col-10">
                            <div class="mb-3">
                                <textarea class="form-control" maxlength="700" style="height: 250px;" required></textarea>
                                <div class="invalid-feedback">
                                  Please enter a message.
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--Tags--> 
                    <div class="row">
                        <div class="col-1">
                            Tags
                        </div>
                        <div class="col-10">
                            <div class="input-group has-validation">
                                <input type="text" class="form-control" maxlength="100" required>
                                <div class="invalid-feedback">
                                    Please write some tags.
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row mt-3">
                        <div class="col-1"></div>
                        <div class="col">
                            <button class="btn btn-primary" type="submit" disabled>ASK!</button>
                        </div>
                    </div>
                </form>
                
            </div>
            

        <!--Теги--> 
        <div class="col-4">
            <h3>Popular Tags</h3>
              <div class="row">
                <div class="col d-flex justify-cotent-between gap-5 mb-1">
                  <a href="./tag.html" style="text-decoration: none;" class="text-black">perl</a>
                  <a href="./tag.html" style="text-decoration: none;" class="text-danger">python</a>
                  <a href="./tag.html" style="text-decoration: none;" class="text-black">TechnoPark</a>
                </div>
                <div class="col d-flex justify-cotent-between gap-5 mb-1">
                  <a href="./tag.html" style="text-decoration: none;" class="text-danger">MySQL</a>
                  <a href="./tag.html" style="text-decoration: none;" class="text-success">Django</a>
                </div>
                <div class="col d-flex justify-cotent-between gap-5 mb-1">
                  <a href="./tag.html" style="text-decoration: none;" class="text-black">Mail.Ru</a>
                  <a href="./tag.html" style="text-decoration: none;" class="text-black">Voloshin</a>
                  <a href="./tag.html" style="text-decoration: none;" class="text-warning">Firefox</a>
                </div>
              </div>
            <h3 class="mt-4">Best Members</h3>
            <div>
              <ul style="list-style-type: none; padding: 0;">
                <li><a href="./member.html">Mr. Freeman</a></li>
                <li><a href="./member.html">Dr. House</a></li>
                <li><a href="./member.html">Bender</a></li>
                <li><a href="./member.html">Queen Victoria</a></li>
                <li><a href="./member.html">V. Pupkin</a></li>
              </ul>
            </div>
          </div>
        </div>
        </div>
      </main>
    
      <footer class="fixed-bottom p-3 bg-light text-center">
        <div class="container ">
          <span class="text-muted">TechnoPark ©2024.</span>
        </div>
      </footer>

    <script src="../static/js/bootstrap.bundle.js"></script>
</body>
</html>