<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <link rel="stylesheet" href="../static/css/rounded_image.css">
    <title>AskMe Website</title>
</head>
<body>
    <!--Навигация--> 
    <nav class="navbar bg-body-tertiary">
        <div class="container-sm-fluid container-lg">
          <a class="navbar-brand">AskMe</a>
          <form class="d-flex" role="search" >
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-success" type="submit">ASK!</button>
          </form>
            <div class="d-flex justify-cotent-between gap-3">
                <div>
                    <img class="rounded-circle border" src="../static/img/default_user_icon.png"  height="50" width="50">
                </div>
                <div class="d-flex flex-column justify-content between gap-1">
                    Dr.Pepper
                    <div class="settings">
                        <a href="./settings.html">Settings</a>
                        <a href="./logout.html">Log out</a>
                    </div>
                </div>
            </div>
        </div>
      </nav>

      <main class="container-sm-fluid container-lg mt-3">
        <h1>Base page</h1>
        <div class="row mt-3">
            <div class="col-8 border" style="height: 450px;">
                content 1
            </div>
            <div class="col-4 border">
                content 2
            </div>
        </div>
      </main>

      <footer class="fixed-bottom p-3 bg-light text-center">
        <div class="container ">
          <span class="text-muted">TechnoPark ©2024.</span>
        </div>
      </footer>


    <script href="../static/js/bootstrap.bundle.js"></script>
</body>
</html>