<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AskMe Website</title>
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <link rel="stylesheet" href="../static/css/rounded_image.css">
  </head>
  <body>
    <!--Навигация--> 
    <nav class="navbar bg-body-tertiary">
        <div class="container-sm-fluid container-lg">
          <a class="navbar-brand">AskMe</a>
          <form class="d-flex" role="search" >
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-success" type="submit">ASK!</button>
          </form>

            <div class="d-flex align-items-center gap-3">
                <div>
                    <img class="rounded-circle border" src="../static/img/default_user_icon.png"  height="50" width="50">
                </div>
                <div class="d-flex justify-content-between gap-2">
                    Dr.Pepper
                    <div class="settings">
                        <a href="./settings.html"><img src="../static/img/svg/gear.svg" width="20px"></a>
                    </div>
                </div>
            </div>
        </div>
      </nav>

    <!--Главная страница--> 
    <main class="container-sm-fluid container-lg mt-3">
      <div class="d-flex gap-5 align-items-center">
        <h1>Hot Questions</h1>
      </div>

      <!--Главная страница--> 
      <div class="row">
        <!--Карточки--> 
        <article class="col-8 bg-light">
          <!--Карточка 1--> 
          <div class="card mb-3">
            <div class="row g-0">
              <div class="col-2 p-2">
                <div class="border mb-3 rounded-image-container">
                  <a href="./member.html"><img src="../static/img/default_user_icon.png" class="rounded-image"></a>
                </div>
                <div class="input-group flex-nowrap" style="width: 105px;">
                  <input type="number" value="5" class="form-control">
                </div>
              </div>
              <div class="col">
                <div class="card-body">
                  <a href="./question.html">How to build a Moon Park?</a>
                  <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam necessitatibus repellendus iure voluptate eos, molestiae expedita fugit repellat possimus ratione quam, vel ullam accusamus earum? Eaque expedita sapiente magni reprehenderit?</p>
                  <div class="row">
                    <a class="col-4" href="./question.html">answer (3)</a>
                    <div class="col-8">
                      <span>Tags</span>
                      <a href="./tag.html">tag</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--Карточка 2--> 
          <div class="card mb-3">
            <div class="row g-0">
              <div class="col-2 p-2">
                <div class="border mb-3 rounded-image-container">
                  <a href="./member.html"><img src="../static/img/default_user_icon.png" class="rounded-image"></a>
                </div>
                <div class="input-group flex-nowrap" style="width: 105px;">
                  <input type="number" value="5" class="form-control">
                </div>
              </div>
              <div class="col">
                <div class="card-body">
                  <a href="./question.html">How to build a Moon Park?</a>
                  <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati necessitatibus quibusdam ipsa porro dolorum voluptatibus nam earum quod libero sit eveniet reprehenderit impedit eum non numquam quaerat sunt, consequatur autem.</p>
                  <div class="row">
                    <a class="col-4" href="./question.html">answer (3)</a>
                    <div class="col-8">
                      <span>Tags</span>
                      <a href="./tag.html">tag</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--Карточка 3--> 
          <div class="card mb-3">
            <div class="row g-0">
              <div class="col-2 p-2">
                <div class="border mb-3 rounded-image-container">
                  <a href="./member.html"><img src="../static/img/default_user_icon.png" class="rounded-image"></a>
                </div>
                <div class="input-group flex-nowrap" style="width: 105px;">
                  <input type="number" value="5" class="form-control">
                </div>
              </div>
              <div class="col">
                <div class="card-body">
                  <a href="./question.html">How to build a Moon Park?</a>
                  <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit aspernatur iusto similique laudantium delectus porro nostrum culpa, obcaecati voluptas nesciunt corrupti laborum sunt consequuntur fugiat ipsum ab officiis ratione laboriosam.</p>
                  <div class="row">
                    <a class="col-4" href="./question.html">answer (3)</a>
                    <div class="col-8">
                      <span>Tags</span>
                      <a href="./tag.html">tag</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </article>
        <div class="col-1"></div>
        <!--Теги--> 
        <div class="col-3">
          <h3>Popular Tags</h3>
            <div class="row">
              <div class="col d-flex justify-cotent-between gap-5 mb-1">
                <a href="./tag.html" style="text-decoration: none;" class="text-black">perl</a>
                <a href="./tag.html" style="text-decoration: none;" class="text-danger">python</a>
                <a href="./tag.html" style="text-decoration: none;" class="text-black">TechnoPark</a>
              </div>
              <div class="col d-flex justify-cotent-between gap-5 mb-1">
                <a href="./tag.html" style="text-decoration: none;" class="text-danger">MySQL</a>
                <a href="./tag.html" style="text-decoration: none;" class="text-success">Django</a>
              </div>
              <div class="col d-flex justify-cotent-between gap-5 mb-1">
                <a href="./tag.html" style="text-decoration: none;" class="text-black">Mail.Ru</a>
                <a href="./tag.html" style="text-decoration: none;" class="text-black">Voloshin</a>
                <a href="./tag.html" style="text-decoration: none;" class="text-warning">Firefox</a>
              </div>
            </div>
          <h3 class="mt-4">Best Members</h3>
          <div>
            <ul style="list-style-type: none; padding: 0;">
              <li><a href="./member.html">Mr. Freeman</a></li>
              <li><a href="./member.html">Dr. House</a></li>
              <li><a href="./member.html">Bender</a></li>
              <li><a href="./member.html">Queen Victoria</a></li>
              <li><a href="./member.html">V. Pupkin</a></li>
            </ul>
          </div>
        </div>
      </div>

      <!--Страницы--> 
      <nav aria-label="Page navigation example" style="margin-bottom: 100px;">
        <ul class="pagination">
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item"><a class="page-link" href="#">...</a></li>
          <li class="page-item"><a class="page-link" href="#">53</a></li>
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>

    </main>
    <footer class="fixed-bottom p-3 bg-light text-center">
      <div class="container ">
        <span class="text-muted">TechnoPark ©2024.</span>
      </div>
    </footer>
    <script src="../static/js/bootstrap.bundle.js"></script>
  </body>
</html>