{% extends "layouts/base.html" %}
{% load static %}

{% block content %}

<h1>Log In</h1>
<div class="row mt-4">
    <div class="col-8">
        {% if login_form.non_field_errors %}
            <div class="alert alert-danger" role="alert">
                {% for error in login_form.non_field_errors %}
                    {{ error }}
                {% endfor %}
            </div>
        {% endif %}

        <form method="post" action="" class="was-validated">
            {% csrf_token %}
            <!--Login--> 
            <div class="row mb-3">
                <div class="col-2">
                    Username
                </div>
                <div class="col-7">
                    <div class="input-group has-validation">
                        <input id="usernameInput" name="username" type="text"
                         class="form-control" placeholder="Enter your login here" maxlength="50"
                         required value="{{ login_form.data.username }}">
                        
                    </div>
                </div>
            </div>

            <!--Password--> 
            <div class="row mb-3">
                <div class="col-2">
                    Password
                </div>
                <div class="col-7">
                    <div class="input-group has-validation">
                        <input id="passwordInput" name="password" type="password"
                         class="form-control" placeholder="Enter your password" maxlength="50"
                          required value="{{ login_form.data.password }}">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-2"></div>
                <div class="col">
                    <button class="btn btn-primary" type="submit">Log in!</button>
                </div>
            </div>
        </form>

        <div class="row mt-4">
            <div class="col-2" style="margin-bottom: 500px"></div>
            <div class="col">
                <a href="{% url "signup" %}">create new account</a>
            </div>
        </div>
    </div>

    <script src="{% static 'js/login.js' %}"></script>

{% endblock  %}
