{% extends "layouts/base.html" %}
{% load static %}

{% block content %}

<h1>Log In</h1>
<div class="row mt-4">
    <div class="col-8">
        <form class="was-validated">
            <!--Login--> 
            <div class="row mb-3">
                <div class="col-2">
                    Login
                </div>
                <div class="col-7">
                    <div class="input-group has-validation">
                        <input type="text" class="form-control" placeholder="Enter your login here" maxlength="50" required>
                        <div class="invalid-feedback">
                            No such Login
                        </div>
                    </div>
                </div>
            </div>

            <!--Email--> 
            <div class="row mb-3">
                <div class="col-2">
                    Password
                </div>
                <div class="col-7">
                    <div class="input-group has-validation">
                        <input type="text" class="form-control" maxlength="50" required>
                        <div class="invalid-feedback">
                            Wrong Password
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-2"></div>
                <div class="col">
                    <button class="btn btn-primary" type="submit" disabled>Log in!</button>
                </div>
            </div>
        </form>

        <div class="row mt-4">
            <div class="col-2"></div>
            <div class="col">
                <a href="{% url "signup" %}">create new account</a>
            </div>
        </div>
    </div>

{% endblock  %}
