{% extends "layouts/base.html" %}
{% load static %}

{% block content %}

<div class="row mt-3">
<h1>{{ member.user.username }}</h1>
<!--Форма--> 
<div class="col-8 mt-3">
    <form>
        <fieldset disabled>
            <!--Login--> 
            <div class="row mb-3">
                <div class="col-2">
                    Login
                </div>
                <div class="col-7">
                    <div class="input-group">
                        <input type="text" class="form-control" value='{{ member.user.username }}' maxlength="50" required>
                    </div>
                </div>
            </div>

            <!--NickName--> 
            <div class="row mb-3">
                <div class="col-2">
                    NickName
                </div>
                <div class="col-7">
                    <div class="input-group">
                        <input type="text" class="form-control" value='{{ member.nickname }}' maxlength="50" required>
                    </div>
                </div>
            </div>

            <!--Avatar--> 
            <div class="row mb-3">
                <div class="col-2"> 
                    Avatar
                </div>
                <div class="col-7">
                    <div class="row">
                        <div class="col-auto">
                            <img class="rounded-circle border" src="../static/img/default_user_icon.png" height="150" width="150">
                        </div>
                    </div>                       
                </div>
            </div>

            <!--Total rate--> 
            <div class="row mb-3">
                <div class="col-2 align-self-center">
                    <span>Activity</span>
                </div>
                <div class="col-3">
                    <button type="button" class="btn btn-outline-danger" style="margin-left: 25px;">
                        <img src="../static/img/svg/fire.svg" width="20px" style="fill: red;">
                        {{ member.num_likes }}
                    </buttom>
                </div>
            </div>
            
        </fieldset>
    </form>
</div>

{% endblock content %}
