{% extends "layouts/base.html" %}
{% load static %}

{% block content  %}
<div class="row">
    <div class="col-7">
    <!--Вопрос--> 
    <div class="card mb-3 border-white">
        <div class="row g-0">
        <div class="col-2 p-2 py-3 mt-2">
            <div class="border w-100 mb-3 rounded-circle">
                <a href="{% url "member" 'gtg' %}"><img src="../static/img/default_user_icon.png" class="rounded-image"></a>
            </div>
            <div class="input-group flex-nowrap">
                <input type="number" value="5" class="form-control">
            </div>
        </div>
        <div class="col">
            <div class="card-body">
            <h2>{{ question.title }}</h2>
            <p class="card-text fs-5" style="text-align: justify;">
                {{ question.text }}
            </p>
            <div class="row">
                <div class="col-8">
                <span>Tags:</span>

                {% for tag in question.tags %}

                <a href="{% url "tag" tag %}">{{ tag }}</a>

                {% endfor %}

                </div>
            </div>
            </div>
        </div>
        </div>
    </div>

    <hr>

    <!--Ответы--> 
    {% for answer in answers %}
    
        {% include "layouts/answer.html" %}
    
    {% endfor %}

    <hr>

    <form action="#" style="margin-bottom: 100px;">
        <div class="form-floating">
            <textarea class="form-control" placeholder="Leave a comment here" style="height: 150px"></textarea>
            <label for="floatingTextarea2">Enter your answer here...</label>
        </div>

        <div class="col mt-3">
            <button class="btn btn-primary" type="submit" disabled>Answer!</button>
        </div>

    </form>
    </div>

{% endblock  %}
