{% extends "layouts/base.html" %}
{% load static %}

{% block content %}

<div class="row">
    <h1>Settings: Dr. Pepper</h1>
    <!--Форма--> 
    <div class="col-8 mt-3">
        <form method="post" action="" style="margin-bottom: 50px;">
            <!--Login--> 
            <div class="row mb-3 was-validated">
                <div class="col-2">
                    Login
                </div>
                <div class="col-7">
                    <div class="input-group has-validation">
                        <input id="login" name="login" type="text" class="form-control" value="dr_pepper" maxlength="50" required>
                        <div class="invalid-feedback">
                            Wrong Login
                        </div>
                    </div>
                </div>
            </div>

            <!--Email--> 
            <div class="row was-validated mb-3">
                <div class="col-2">
                    Email
                </div>
                <div class="col-7">
                    <div class="input-group has-validation">
                        <input id="email" name="email" type="text" class="form-control" value="dr.pepper@mail.ru" maxlength="50" required>
                        <div class="invalid-feedback">
                            Wrong Email
                        </div>
                    </div>
                </div>
            </div>

            <!--NickName--> 
            <div class="row was-validated mb-3">
                <div class="col-2">
                    NickName
                </div>
                <div class="col-7">
                    <div class="input-group has-validation">
                        <input id="nickname" name="nickname" type="text" class="form-control" value="Dr. Pepper" maxlength="50" required>
                        <div class="invalid-feedback">
                            This NickName is already taken. Please choose another.
                        </div>
                    </div>
                </div>
            </div>

            <!--Avatar--> 
            <div class="row mb-3">
                <div class="col-2"> 
                    Avatar
                </div>
                <div class="col-7">
                    <div class="row">
                        <div class="col-auto">
                            <img class="rounded-circle border" src="../static/img/default_user_icon.png" height="150" width="150">
                        </div>
                    </div>
                    <div class="input-group mt-3">
                        <input id="avatar" name="avatar" type="file" class="form-control">
                        <label class="input-group-text" for="inputGroupFile02">Choose</label>
                    </div>                            
                </div>
            </div>

            <div class="row">
                <div class="col-2"></div>
                <div class="col">
                    <button class="btn btn-primary" type="submit" disabled>Save</button>
                </div>
            </div>
        </form>

        <hr width="640px">

        <!--Выход из аккаунта--> 
        <div class="row mt-5" style="margin-bottom: 100px;">
            <div class="col-2">
                Log out
            </div>
            <div class="col">
                <button class="btn btn-primary" type="submit" disabled>Log out!</button>
            </div>
        </div>
    </div>

{% endblock content %}

