{% extends "layouts/base.html" %}
{% load static %}

{% block content %}

<div class="row">
    <h1>Settings</h1>
    <!--Форма--> 
    <div class="col-8 mt-3">
        {% if form.errors %}
            <div class="alert alert-danger col-9" role="alert" style="padding-bottom: 0px;">
                <ul>
                    {% for errors in form.errors.values %}
                        {% for error in errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        <form method="post" action="" enctype="multipart/form-data" style="margin-bottom: 0px;">
            {% csrf_token %}
            <!--Login--> 
            <div class="row mb-3 was-validated">
                <div class="col-2">
                    Username
                </div>
                <div class="col-7">
                    <div class="input-group has-validation">
                        <input id="username" name="username" type="text" class="form-control" value="{{user.username}}" maxlength="50" required>
                        <div class="invalid-feedback">
                            Wrong Login
                        </div>
                    </div>
                </div>
            </div>

            <!--Email--> 
            <div class="row was-validated mb-3">
                <div class="col-2">
                    Email
                </div>
                <div class="col-7">
                    <div class="input-group has-validation">
                        <input id="email" name="email" type="text" class="form-control" value="{{user.email}}" maxlength="50" required>
                        <div class="invalid-feedback">
                            Wrong Email
                        </div>
                    </div>
                </div>
            </div>

            <!--NickName--> 
            <div class="row was-validated mb-3">
                <div class="col-2">
                    NickName
                </div>
                <div class="col-7">
                    <div class="input-group has-validation">
                        <input id="nickname" name="nickname" type="text" class="form-control" 
                         value="{{user_profile.nickname}}" maxlength="50" required>
                        <div class="invalid-feedback">
                            This NickName is already taken. Please choose another.
                        </div>
                    </div>
                </div>
            </div>

            <!--Avatar--> 
            <div class="row mb-3">
                <div class="col-2"> 
                    Avatar
                </div>
                <div class="col-7">
                    <div class="row">
                        <div class="col-auto">
                            <img class="rounded-circle border"
                             {% if user_profile.avatar %} src="{{user_profile.avatar.url}}"
                             {% else %} src="../../static/img/default_user_icon.png"
                             {% endif %}
                             height="150" width="150">
                        </div>
                    </div>
                    <div class="input-group mt-3">
                        <input id="avatar" name="avatar" type="file" class="form-control">
                        <label class="input-group-text" for="inputGroupFile02">Choose</label>
                    </div>                            
                </div>
            </div>

            <div class="row">
                <div class="col-2"></div>
                <div class="col">
                    <button id="saveButton" class="btn btn-primary" type="submit" style="width: 85px" disabled>Save</button>
                </div>
            </div>
        </form>

        <hr width="640px">

        <!--Выход из аккаунта--> 
        <div class="row">
            <div class="col-2">
                Log out
            </div>
            <div class="col">
                <form  method="post" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <button class="btn btn-primary" type="submit">Log out!</button>
                </form>
            </div>
        </div>
    </div>

    <script src="{% static 'js/editProfile.js' %}"></script>

{% endblock content %}

