{% extends "layouts/base.html" %}
{% load static %}

{% block content %}

<h1>Registration</h1>
<div class="row mt-3" style="margin-bottom: 100px;">
    <div class="col-8">
        <form method="post" enctype="multipart/form-data"> 
            {% csrf_token %}
            <div class="row mb-3 was-validated">
                <div class="col-2">
                    Username
                </div>
                <div class="col-7">
                    <div class="input-group has-validation">
                        <input type="text" class="form-control" name="username"
                         placeholder="Enter your username here" maxlength="50"
                         required >
                        <div class="invalid-feedback">
                            {% for error in form.username.errors %}
                                {{ error }} {% endfor %}
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mb-3 was-validated">
                <div class="col-2">
                    Email
                </div>
                <div class="col-7">
                    <div class="input-group has-validation">
                        <input type="text" class="form-control" name="email"
                         placeholder="somebody@gmail.com" maxlength="50"
                         required >
                        <div class="invalid-feedback">
                            {% for error in form.email.errors %}
                                {{ error }} {% endfor %}
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mb-3 was-validated">
                <div class="col-2">
                    NickName
                </div>
                <div class="col-7">
                    <div class="input-group has-validation">
                        <input type="text" class="form-control" name="nickname"
                         maxlength="50" required >
                        <div class="invalid-feedback">
                            {% for error in form.nickname.errors %}
                                {{ error }} {% endfor %}
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mb-3 was-validated">
                <div class="col-2">
                    Password
                </div>
                <div class="col-7">
                    <div class="input-group has-validation">
                        <input type="password" class="form-control" name="password"
                         minlength="4" maxlength="12"
                         required >
                        <div class="invalid-feedback">
                            {% for error in form.password.errors %}
                                {{ error }} {% endfor %}
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mb-3 was-validated">
                <div class="col-2">
                    Confirm password
                </div>
                <div class="col-7">
                    <div class="input-group has-validation">
                        <input type="password" class="form-control" name="confirm_password"
                         minlength="4" maxlength="12"
                         required >
                        <div class="invalid-feedback">
                            {% for error in form.confirm_password.errors %}
                                {{ error }} {% endfor %}
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-2 text-align-center">
                    Avatar
                </div>
                <div class="col-7">
                    <div class="input-group">
                        <input type="file" class="form-control" name="avatar"
                         >
                        <label class="input-group-text" for="inputGroupFile02">Choose</label>
                    </div>
                </div>
            </div>

            <div class="row mt-4">
                <div class="col-2"></div>
                <div class="col">
                    <button class="btn btn-primary" type="submit">Register!</button>
                </div>
            </div>
        </form>
        </div>

{% endblock content %}